.bar {
  width: 105px;
  height: 105px;

  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpolygon points='20 0, 20 20, 0 20' fill='%23F7E611'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right bottom;

  @include desktop {
    width: 138px;
    height: 383px;

    background-image: none;
    background-color: $background-color-2;

    box-shadow: 0 0 88px rgba(0, 0, 0, 0.1);
  }
}

.bar__elem {
  position: absolute;

  font-weight: 900;
  font-style: italic;
}

.bar__elem_13 {
  bottom: 21px;
  right: 18px;

  font-size: 20px;
  letter-spacing: 2px;

  @include desktop {
    bottom: 34px;
    right: 63px;

    font-size: 45px;
    letter-spacing: 4.5px;
  }
}

.bar__elem_7 {
  bottom: 20px;
  right: 53px;

  display: none;

  @include desktop {
    display: block;
  }

  &::before {
    content: "";

    position: absolute;
    bottom: 23px;
    left: 1px;

    width: 17px;
    height: 3px;

    background-color: #000;

  }
}