.header {
  display: flex;
  justify-content: space-between;

  padding-top: 5px;
  padding-bottom: 34px;

  @include tablet {
    padding-top: 35px;
    padding-bottom: 0;
  }
  
  @include desktop {
    height: 154px;
  }
}

.header__link {
  display: block;
  margin-left: 20px;
  margin-top: 11px;

  @include tablet {
    align-self: flex-start;
    margin-left: 34px;
    margin-top: 0;
  }
}

.header__logo {
  display: block;
}

.header__menu-button {
  margin: 0;
  margin-right: 8px;

  @include tablet {
    align-self: flex-end;
    margin-right: 80px;
  }

}