.letters-group1 {
  position: absolute;

  @include tablet {
    width: auto;
    height: 107px;
    
    overflow-y: hidden;
  }
  
  @include desktop {
    width: 346px;
  }
}

.letters-group1__elem {
  font-family: Philosopher;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;

  @include tablet {
    position: absolute;
  }

  &_fig1 {
    display: none;

    @include tablet {
      top: 0;
      left: 0;

      display: block;
    }
  }

  &_a {
    display: none;

    @include tablet {
      top: 51px;
      left: 75px;

      display: block;
    }
  }

  &_f {
    display: none;

    @include tablet {
      top: 16px;
      left: 140px;

      display: block;
    }
  }

  &_f2 {
    display: none;

    @include tablet {
      top: 60px;
      right: 129px;
      
      display: block;
    }
  }

  &_i {
    display: none;

    @include tablet {
      top: 32px;
      right: 75px;

      display: block;
    };
  }

  &_fig2 {

    @include tablet {
      bottom: -11px;
      right: 63px;
    }
  }

  &_n {
    display: none;

    @include tablet {
      bottom: 10px;
      right: 0;

      display: block;
    }
  }
}