.slider {
  position: relative;
  
  min-height: 485px;
  
  overflow: hidden;
  
  @include tablet {
    max-width: 768px;
    
    overflow: visible;
  }
  
  @include tablet-ipad {
    min-height: 577px;
    max-width: 960px;
  }
  
  @include desktop {
    max-width: 1200px;
  }

  @include min-width(1340px) {
    max-width: 1280px;
  }
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  position: absolute;
}

.slider__item_back {
  top: 0;
  left: -40px;
  z-index: 1;

  @include min-width(480px) {
    left: 0;
  }
}

.slider__item_front {
  bottom: 0;
  left: 50%;
  z-index: 4;

  transform: translateX(-50%);

  @include min-width(480px) {
    left: auto;
    right: 0;
    transform: translateX(0%);
  }

  @include tablet {
    z-index: 3;
  }
}

.slider__item_disabled {
  display: none;
}

.slider__photo {
  display: block;
  
  &::before {
    
    @include tablet {
      content: "";
      
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
      width: 100%;
      height: 100%;
      
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
    }
  }
  
  &::after {
    content: "";
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 100%;
    height: 100%;
  }
}

.slider__item_back .slider__photo {
  height: 184px;

  @include min-width(480px) {
    height: 250px;
  }

  @include tablet {
    height: 300px;
  }

  @include tablet-ipad {
    height: 400px;
  }

  @include desktop {
    height: 525px;
  }

  &::after {
    background-color: rgba(247, 230, 17, 0.8);
  }
}

.slider__item_front .slider__photo {
  height: 318px;
  
  @include tablet {
    height: 350px;
  }

  @include tablet-ipad {
    height: 440px;
  }

  @include desktop {
    height: 490px;
  }

  &::after {
    background-color: rgba(247, 230, 17, 0.6);
    
    @include tablet {
      background-color: rgba(247, 230, 17, 0.8);
    }
  }
}

.slider__img {
  display: block;
  height: 100%;
  width: auto;
  max-width: initial;

  @include tablet {
    max-width: 100%;
    opacity: 0.5;
  }
}

.slider__button {
  position: absolute;
  bottom: 134px;
  z-index: 7;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;

  background: none;
  border: none;

  cursor: pointer;

  &:focus svg path,
  &:hover svg path {
    opacity: 1;
  }

  @include tablet {
    bottom: 150px;
  }

  &_prev {
    left: 8px;

    @include tablet {
      left: auto;
      right: 243px;
    }

    @include desktop {
      right: 343px;
    }
  }

  &_next {
    right: 8px;

    @include tablet {
      right: 47px;
    }

    @include desktop{
      right: 147px;
    }
  }
}

.slider__bar {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;

  @include tablet {
    bottom: 35px;
    right: 98px;
    z-index: 6;
  }

  @include desktop {
    bottom: 35px;
    right: 198px;
  }
}

.slider__decoration {
  position: absolute;

  font-family: Geometria;
  font-weight: 500;
  font-size: 60px;
  line-height: 87px;

  color: transparent;
  -webkit-text-stroke: 1px #000;

  @include tablet {
    font-size: 80px;
  }

  &_a {
    right: 204px;
    bottom: 260px;
    z-index: 5;

    @include min-width(480px) {
      right: 304px;
    }

    @include min-width(620px) {
      right: 354px;
    }

    @include tablet {
      bottom: auto;
      top: -46px;
      right: 218px;
    }
    
    @include desktop {
      right: 318px;
    }
  }

  &_g {
    right: 126px;
    bottom: 276px;
    z-index: 3;

    @include min-width(480px) {
      right: 226px;
    }

    @include min-width(620px) {
      right: 276px;
    }

    @include tablet {
      bottom: auto;
      top: 114px;
      right: 133px;
      z-index: 4;
    }
    
    @include desktop {
      right: 233px;
    }
  }

  &_e {
    right: 64px;
    bottom: 354px;
    z-index: 2;

    @include min-width(480px) {
      right: 164px;
    }

    @include min-width(620px) {
      right: 214px;
    }

    @include tablet {
      bottom: auto;
      top: 36px;
      right: 54px;
    }
    
    @include desktop {
      right: 154px;
    }
  }
}